
/* Estilos Generales */
body {
    background-color: #f0f2f5; /* Fondo claro para la página */
    color: #333; /* Color de texto oscuro para mejor legibilidad */
    font-family: Arial, sans-serif; /* Fuente moderna y legible */
}

h1 {
    color: #1d1d1f; /* Color negro para el encabezado principal */
}

.mb-3 {
    margin-bottom: 1rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Cambiado a 100% para ser adaptable por defecto */
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.mb-3 input {
    width: 90%; /* Ajustado para un mejor espaciado en dispositivos pequeños */
    margin: 0.5rem 0;
}

.mb-3 label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* Media query para tabletas */
@media (min-width: 768px) {
    .mb-3 {
        width: 50%; /* Ajusta el ancho en dispositivos medianos */
    }
}

/* Media query para computadoras de escritorio */
@media (min-width: 992px) {
    .mb-3 {
        width: 30%; /* Vuelve al 30% para pantallas grandes */
    }
}



/* Estilos para los formularios */
.form-label {
    font-weight: bold; /* Etiquetas de formulario en negrita */
    color: #333; /* Color oscuro para las etiquetas */
    margin-top: 12px; /* Espacio superior para separar de otros elementos */
    
}

.form-control {
    border-radius: 5px; /* Bordes redondeados para los campos de entrada */
    border: 1px solid #ced4da; /* Borde sutil */
}

/* Estilos para TODOS los botones para asegurar uniformidad */
.btn {
    margin: 20px 5px 10px; /* Espaciado alrededor de los botones */
    padding: 10px 24px; /* Padding para hacer los botones más grandes */
    border-radius: 20px; /* Bordes redondeados para los botones */
    width: auto; /* Auto-ajuste del ancho basado en el contenido del botón */
    display: inline-block; /* Para asegurar que los botones se muestren en línea */
}

/* Centrado y espaciado de botones */
.d-flex {
    justify-content: center; /* Centra los elementos flexibles horizontalmente */
    align-items: center; /* Centra los elementos flexibles verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en filas múltiples si es necesario */
}

/* Estilos para las tablas */
.table {
    margin-top: 20px; /* Espacio superior para separarla de otros elementos */
    background-color: #ffffff; /* Fondo blanco para la tabla */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave para darle profundidad */
}

.table thead th {
    background-color: #696565; /* Fondo gris para el encabezado de la tabla */
    color: #ffffff; /* Texto blanco para el encabezado */
   

}

.table td, .table th {
    border: 1px solid #dee2e6; /* Borde sutil para las celdas */
    padding: 8px; /* Espaciado interno para el contenido de las celdas */
    
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .btn {
        width: 100%; /* Hace que los botones ocupen todo el ancho en pantallas pequeñas */
        margin: 10px 0; /* Ajusta el margen para que estén uno sobre otro */
    }

    .form-control {
        margin-bottom: 10px; /* Espacio debajo de cada campo para evitar que se toquen */
    }
}
